In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import sys
import os

current = os.path.abspath('')
parent = os.path.dirname(current)
sys.path.append(parent)

from CDCBRFSS import *
from CDCBRFSS.data import *

In [2]:
display(HTML("<h3>Variable Descriptions</h3>"))
display(variable_descriptions)

,Variable,Description,Label,Type,Section,Prologue
0,_STATE,State FIPS Code,State FIPS Code,Num,Record Identification,
1,FMONTH,File Month,File Month,Num,Record Identification,
2,IDATE,Interview Date,Interview Date,Char,Record Identification,
3,IMONTH,Interview Month,Interview Month,Char,Record Identification,
4,IDAY,Interview Day,Interview Day,Char,Record Identification,
...,...,...,...,...,...,...
319,_DRNKWK2,Calculated total number of alcoholic beverages...,Computed number of drinks of alcohol beverages...,Num,Calculated Variables,
320,_RFDRHV8,Heavy drinkers (adult men having more than 14 ...,Heavy Alcohol Consumption Calculated Variable,Num,Calculated Variables,
321,_FLSHOT7,Adults aged 65+ who have had a flu shot within...,Flu Shot Calculated Variable,Num,Calculated Variables,
322,_PNEUMO3,Adults aged 65+ who have ever had a pneumonia ...,Pneumonia Vaccination Calculated Variable,Num,Calculated Variables,
323,_AIDTST4,Adults who have ever been tested for HIV,Ever been tested for HIV calculated variable,Num,Calculated Variables,

In [ ]:
display(HTML("<h3>Translation Table</h3>"))
display(translation_table)

In [3]:
display(HTML("<h3>BRFSS Survey Results 2022</h3>"))
display(raw_data_2022)

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_SMOKGRP,_LCSREC,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,02032022,02,03,2022,1100.0,2022000001,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,1.0,02042022,02,04,2022,1100.0,2022000002,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0
2,1.0,1.0,02022022,02,02,2022,1100.0,2022000003,2.022000e+09,1.0,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
3,1.0,1.0,02032022,02,03,2022,1100.0,2022000004,2.022000e+09,1.0,...,3.0,2.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,9.0,9.0,2.0
4,1.0,1.0,02022022,02,02,2022,1100.0,2022000005,2.022000e+09,1.0,...,4.0,NaN,1.0,1.000000e+01,1.0,1.400000e+02,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,78.0,11.0,12192022,12,19,2022,1100.0,2022001527,2.022002e+09,NaN,...,4.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,1.0
445128,78.0,11.0,12212022,12,21,2022,1100.0,2022001528,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,1.0
445129,78.0,11.0,11292022,11,29,2022,1100.0,2022001529,2.022002e+09,NaN,...,1.0,NaN,7.0,9.000000e+02,9.0,9.990000e+04,9.0,2.0,2.0,2.0
445130,78.0,11.0,12082022,12,08,2022,1100.0,2022001530,2.022002e+09,NaN,...,4.0,NaN,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0
445131,78.0,11.0,12142022,12,14,2022,1100.0,2022001531,2.022002e+09,NaN,...,3.0,NaN,1.0,5.000000e+01,2.0,9.990000e+04,9.0,NaN,NaN,2.0